@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-font-color: #0B212F;
    --second-font-color: #1363DF;
    --main-bg-color: #c2efff;
    --second-bg-color: #FFFFFF;
    --third-bg-color: #f2f0a2;
    --auxiliary-color: #47B5FF;
    --business-color: #231955;
    --navbar-height: 3.75rem;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------- Início Header -----------------------------------*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--business-color);
}

/* Mantém a estrutura da navbar */
header .navbar {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header .navbar .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .navbar .logo img {
    width: 70px;
    height: 70px;
    clip-path: circle(50% at 50% 50%);
}

header .navbar .logo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url('img/stock.jpg') center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 30s linear infinite;
}

@keyframes animate {
    to {
        background-position-x: -200px;
    }
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-bg-color);
}
/*-----------------------------Fim do Header----------------------------------*/

/*-----------------------------Início do Banner-------------------------------*/
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px;
    padding-top: 50px;
    padding-bottom: 120px;
    gap: 20px;
  
}

/*---------------------------Início Seção Saudação do Banner----------------*/
.banner .container1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .container1 .saudacao{
    padding: 80px;
    padding-top: 40px;
    display: block;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0px;
}

.banner .container1 .saudacao h5 {
    font-size: 18px;
    color: rgb(75, 8, 54);
}

.banner .container1 .saudacao h4 {
    font-size: 25px;
    color: rgb(75, 8, 54);
}

.banner .container1 .saudacao h1, h3 {
    color: #500863;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner .container1 .saudacao h1 {
    text-shadow: 2px 2px 5px red;
}

.banner .container1 .saudacao h2{
    font-size: 90px;
    margin-bottom: 0px;
    text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;
}

.banner .container1 .saudacao h3 {
    font-size: 40px;
    text-decoration: underline;
}

.banner .container1 .change-text{
    padding: 80px;
    display: block;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0px;
}

.banner .container1 .change-text .easy-stock h2 {
    font-size: 70px;
    text-shadow: 2px 2px 0px #eee, 4px 4px 0px #707070;
}

.banner .container1 .change-text .txt{
    padding-top: 0px;
    margin-top: opx;
    min-height: 10vh;
    height: 50%;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 1.5em;
    color: #500863;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner .container1 .change-text h3{
    display: inline-flex;
    align-items: center;
    margin: 0;
    vertical-align: top;
    font-size: 70px;
}

.banner .container1 .change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fcf93f, 0 0 35px #f3a024, 
    0 0 40px #dce7ac, 0 0 50px #b6e127, 0 0 75px #8aea23;
}

.banner .container1 .change-text h3 .word .letter{
    transform-origin: center center 25px;
}

.banner .container1 .change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}

.banner .container1 .change-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.banner .container1 .change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}
/*---------------------------Fim Seção Saudação do Banner-------------------*/

/*---------------------------Início Seção Imagens do Banner-----------------*/
.banner .container2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ajuste para as imagens ficarem do mesmo tamanho e centralizadas */
.banner .container2 img{
    padding: 20px;
    padding-top: 60px;
    width: 550px;
    height: 350px;
    object-fit: cover;
    filter: drop-shadow(18px 18px 22px rgb(66, 65, 65));
}
/*---------------------------Fim Seção Imagens do Banner--------------------*/

/*---------------------------Início Seção Pitch para o Visitante------------*/
.pitch {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background: radial-gradient(var(--second-bg-color), var(--main-bg-color));
}

/*-------------------------Início do Hook 1 ("Gancho 1") para captação atenção do visitante--*/
.pitch .hook1 {
    display: flex;
    padding-bottom: 30px;
}

.pitch .hook1 .texto h1, p, .btn-box {
    padding: 80px;
    padding-top: 10px;
}

.pitch .hook1 .texto h1 {
    font-size: 35px;
    font-weight:bolder;
    padding-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.pitch .hook1 .texto p {
    font-size: 15px;
    padding-bottom: 10px;
}

.pitch .hook1 .texto .btn-box {
    display: flex;
    padding: 5px;
    padding-top: 10px;
    padding-left: 80px;
    justify-content: space-between;
    width: 380px;
    height: 40px;
}

.pitch .hook1 .texto .btn-box .btn{
    display: flex; /* necessário para centralizar conteúdo */
    align-items: center; /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    width: 180px;
    height: 40px;
    background: black;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color 0.6s;
    box-shadow: 0 0 0.5rem #12f7ff;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #12f7ff;
    text-decoration: none;
}

.pitch .hook1 .texto .btn:hover{
    color: #12f7ff;
}

.pitch .hook1 .texto .btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #abf551; /* Cor de preenchimento no hover */
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 0.4s;
}

.pitch .hook1 .texto .btn-box .btn:hover {
    color: black; /* cor do texto ao passar o mouse */
}

.pitch .hook1 .texto .btn-box .btn:hover::before {
    width: 100%;
}

.pitch .hook1 .stock-board {
    padding: 50px;
    padding-top: 15px;
    padding-left: 70px;
    padding-bottom: 5px;
}

.pitch .hook1 .stock-board img {
    width: 400px;
    height: 270px;
    justify-content: center;
    border-radius: 50% 50%;
    filter: drop-shadow(18px 18px 22px rgb(66, 65, 65));
}

/*-------------------------Início do Hook 1 ("Gancho 1") para captação atenção do visitante----*/
.pitch .hook2 {
    display: block;
    padding-left: 80px;
    padding-top: 5px;
    padding-right: 20px;
   
}

.pitch .hook2 .texto {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; 
}

.pitch .hook2 .texto .box-text {
    display: block;
    padding: 20px;
    width: 60%;
    background-color: var(--third-bg-color);
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 40px;
    filter: drop-shadow(18px 18px 22px rgb(66, 65, 65));
}

.pitch .hook2 .texto .box-text h2 {
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 5px rgb(243, 115, 115);
}

.pitch .hook2 .box {
    display: flex;
    padding: 50px;
    filter: drop-shadow(18px 18px 22px rgb(66, 65, 65));
}

.pitch .hook2 .box .card1 {
    width: 320px;
    height: 180px;
    padding: 15px;
    background-color: #c9ced6;
    cursor: pointer;
    transition: transform 0.7s;
}

.pitch .hook2 .box .card1:hover{
    transform: scale(1.3);
}

.pitch .hook2 .card1 img {
    width: 30px;
    height: 30px;
}

.pitch .hook2 .card1 h4 {
    font-size: 20px;
    text-align: left;
}

.pitch .hook2 .card1 p {
    font-size: 15px;
    text-align: justify;
    padding-left: 0px;
}


.pitch .hook2 .box .card2 {
    width: 320px;
    height: 180px;
    padding: 15px;
    background-color: #9da2ab;
    cursor: pointer;
    transition: transform 0.7s;
}

.pitch .hook2 .box .card2:hover{
    transform: scale(1.3);
}

.pitch .hook2 .card2 img {
    width: 30px;
    height: 30px;
}

.pitch .hook2 .card2 h4 {
    font-size: 20px;
    text-align: left;
}

.pitch .hook2 .card2 p {
    font-size: 15px;
    text-align: left;
    padding-left: 0px;
}

.pitch .hook2 .box .card3 {
    width: 320px;
    height: 180px;
    padding: 15px;
    background-color: #c9ced6;
    cursor: pointer;
    transition: transform 0.7s;
}

.pitch .hook2 .box .card3:hover{
    transform: scale(1.3);
}

.pitch .hook2 .card3 img {
    width: 30px;
    height: 30px;
}

.pitch .hook2 .card3 h4 {
    font-size: 20px;
    text-align: left;
}

.pitch .hook2 .card3 p {
    font-size: 15px;
    text-align: left;
    padding-left: 0px;
}


.pitch .hook2 .box .card4 {
    width: 320px;
    height: 180px;
    padding: 15px;
    background-color: #9da2ab;
    cursor: pointer;
    transition: transform 0.7s;
}

.pitch .hook2 .box .card4:hover{
    transform: scale(1.3);
}

.pitch .hook2 .card4 img {
    width: 30px;
    height: 30px;
}

.pitch .hook2 .card4 h4 {
    font-size: 20px;
    text-align: left;
}

.pitch .hook2 .card4 p {
    font-size: 15px;
    text-align: left;
    padding-left: 0px;
}

.fun-facts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background: radial-gradient(var(--main-bg-color), var(--third-bg-color));
}

.fun-facts .presentation {
   display: block;
    flex-direction: column;
    width: 100%; /* ocupa metade da tela */
    box-sizing: border-box;
    padding-top: 60px;
}

.fun-facts .presentation h2 {
    display: block;
    flex-direction: column;
    justify-content: left;
    padding-left: 80px;
    padding-bottom: 10px;
    font-size: 25px;
    color: var(--business-color);
}

.fun-facts .presentation p {
    display: block;
    flex-direction: column;
    justify-content: left;
    text-align: justify;
    padding-left: 80px;
    padding-top: 20px;
    font-size: 18px;
}

.fun-facts .statistics {
     display: block;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.fun-facts .statistics {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 2.5px;

}

.fun-facts .statistics .title {
    display: block;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.fun-facts .statistics .title h2, h3{
    text-align: center;
    padding: 5px;
    
}

.fun-facts .statistics .title h2 {
    font-size: 50px;
    color: var(--business-color);
    text-shadow: 0.1em 0.1em 0.2em black;
}

.fun-facts .statistics .title h3 {
    font-size: 30px;
    color: var(--second-font-color);
}

.fun-facts .statistics .data {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-top: 2.5px;
}

.fun-facts .statistics .data .data-board {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    padding-top: 2.5px;
}

.fun-facts .statistics .data .data-board .data-left {
    display: block;
    width: 50%;
    flex-direction: column;
   
}

.fun-facts .statistics .data .data-board .data-left h3 {
    font-size: 20px;
    padding-bottom: 30px;
}

.fun-facts .statistics .data .data-board .data-left .data-bar {
    margin-bottom: 1.3rem;
}

.fun-facts .statistics .data .data-main .data-left h3{
    margin-bottom: 1rem;
    font-size: 10px;
    text-align: center;
}

/*---data Left--------------------------------*/

.data-bar .info {
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: left;
    align-items: left;
}

.data-bar .info p {
    font-size: 15px;
    text-align: left;
    height: 60px;
    padding: 0px;
}

.data-bar .bar {
    height: 100%;
    height: 10px;
    background: var(--auxiliary-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.data-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--business-color);
    border-radius: 25px;
    box-shadow: var(--third-bg-color);
}

.data-bar .bar .Falta-de-Visibilidade-em-Tempo-Real{
    width: 70%;
    animation: Falta-de-Visibilidade-em-Tempo-Real 1s;
}

.data-bar .bar .Previsoes-de-Demandas-Imprecisas{
    width: 65%;
    animation: Previsoes-de-Demandas-Imprecisas 1.2s;
}

.data-bar .bar .Processos-Manuais-e-Erros-Humanos {
    width: 60%;
    animation: Processos-Manuais-e-Erros-Humanos 1.5s;
}

.data-bar .bar .Falta-de-Integracao-Entre-Setores {
    width: 55%;
    animation: Falta-de-Integracao-Entre-Setores 1.7s;
}

.data-bar .bar .Inventarios-Desatualizados {
    width: 63%;
    animation: Inventarios-Desatualizados 1.7s;
}

/*----- Data Right ---------------------------------------*/


.fun-facts .statistics .data .data-board .data-right {
    display: block;
    flex-direction: column;
    width: 50%;
}

.fun-facts .statistics .data .data-board .data-right h3 {
    font-size: 20px;
    padding-top: 2px;
}

.fun-facts .statistics .data .data-board .data-right .containers {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 30px;
}


.fun-facts .statistics .data .data-board .data-right .container1, .container2 {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.fun-facts .statistics .data .data-board .data-right .container1 .box, .container2 .box{
    position: relative;
    margin: 5px 0;
    flex: 1 1 7.5rem;
    padding: 5px;
    align-self: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box .text{
    text-align: center;
    color: var(--main-font-color);
    font-size: 1rem;
    padding-top: 30px;
}

.box .text big{
    font:200;
    letter-spacing: 1px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.box .text small{
    display: block;
    font-weight: 600;
}

.circle{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;    align-items: center; 
}

.circle .points{
    width: 2px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

.call-to-action {
    display: flex;
    flex-direction: row;
    height: 650px;
    background: radial-gradient(var(--second-bg-color), var(--main-bg-color));
}

.call-to-action .background1, .background2 {
    background-image: url("img/logo.estoque_facil.png"); 
    background-repeat: repeat-x; 
    opacity : 0.4;
    animation: flicker 1s infinite;
    height: 300px;
    width: 600px;
    padding-top: 80px;
}

.call-to-action .CTA {
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 600px;
    padding: 10px;
    margin-top: 120px;
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: inset 0 0 10px #777777;
    border: 5px outset var(--business-color);
    background-color: #f7f4df;
    
}

.call-to-action .CTA .name {
    background-color: var(--business-color);
}

.call-to-action .CTA h1, h3 {
    text-align: center;
    padding: 10px;
}

.call-to-action .CTA h1 {
    font-size: 60px;
    margin-bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url('img/stock.jpg') center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 30s linear infinite;
}

.call-to-action .CTA h3 {
    font-size: 30px;
}

.call-to-action .CTA h3 {
    font-size: 30px;
}

.call-to-action .CTA .btn-box {
    display: block;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 60px;
    justify-content: center;
    align-self: center;
    position: relative;
    width:  380px ;
    height: 180px ;
    background: repeating-conic-gradient(from var(--a),#ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50% );
    animation: animar 0.3s linear infinite;
    border-radius: 20px;
}

.call-to-action .CTA .btn-box::before{
    content: '';
    position: absolute;
    inset: 14px;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),#45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50% );
    animation: animar 0.3s linear infinite;
    border-radius: 20px;   
}

.call-to-action .CTA .btn-box::after{
    content: '';
    position: absolute;
    inset: 14px;
    background-color: var(--second-bg-color);
    border-radius: 15px;
    border: solid 8px #25252b;

}

.call-to-action .CTA .btn-box .button { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 260px;
    height: 120px;
}

.call-to-action .CTA .btn-box .button .btn {  
    align-self: center;
    background-color: #4a3051;
    width: 260px;
    height: 50px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color 0.6s;
    box-shadow: 0 0 0.8rem #32b7f4;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #12f7ff;
    text-decoration: none;
}

.call-to-action .CTA .btn-box .btn:hover {
    color: #12f7ff;
}

.call-to-action .CTA .btn-box .btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #abf551; 
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 0.4s;
    
}

.call-to-action .CTA .btn-box .btn:hover {
    color: black; 
}

.call-to-action .CTA .btn-box .btn:hover::before {
    width: 100%;
} 

.call-to-action .CTA .btn-box .button .btn p {  
    text-align: center;
    font-size: 30px;
    padding: 5px;
}













/*----------    RESPONSIVIDADE PARCIAL -------------------*/

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner .container1, .banner .container2 {
        width: 100%;
        padding: 20px;
    }

    .banner .container2 img {
        width: 100%;
        height: auto;
    }
}



/*----------KeyFrames-----------------------------------------------------------------------------------------------------------------*/

@keyframes morph{
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60%{border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    80%{border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

@keyframes Falta-de-Visibilidade-em-Tempo-Real {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes Previsoes-de-Demandas-Imprecisas {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes Processos-Manuais-e-Erros-Humanos {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes Falta-de-Integracao-Entre-Setores {
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}

@keyframes Inventarios-Desatualizados {
    0%{
        width: 0%;
    }
    100%{
        width: 63%;
    }
}

@keyframes glow{
    0%{
        background: var(--second-bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--business-color);
        box-shadow: var(--main-bg-color);
    }
}

@keyframes slideAnimation{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

 @keyframes flicker {
    0% { opacity: 0.4; }
    25% { opacity: 0.2; }
    50% { opacity: 0.4; }
}

@keyframes animar{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

@property --a{
    syntax: '<angle>';
    inherits: false; 
    initial-value: 0deg;
}







