@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #0969DA;
    --background: #24292F;
    --gray: #847F90;
    --white: #FCFCFC;
    --navbar-height: 3.75rem;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .navbar {
    display: flex;
    height: 90px;
    justify-content: left;
    background-color: var(--background);
}

header .navbar .logo {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 10px;
    padding-left: 50PX;
}

header .navbar .logo img {
    width: 70px;
    height: 70px;
    clip-path: circle(50% at 50% 50%);
}

header .navbar .logo h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-right: 0px;
    background: 
        url('stock.jpg')center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 30s linear infinite;
}

@keyframes animate {
    to {
        background-position-x: -200px; 
    }
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.banner{
    background: radial-gradient(#d3ebf2,#8de4f7);
}

.banner .saudacao{
    padding: 80px;
    flex-direction: column;
    padding-bottom: 0px;
}

.banner .saudacao h1, h2, h3 {
    color: #500863;
    font-size: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner .saudacao h1 {
    text-shadow: 2px 2px 5px red;
}

.banner .saudacao h2{
    font-size: 80px;
    margin-bottom: 0px;
}

.banner .saudacao h3 {
    font-size: 42.5px;
    text-decoration: underline;
}

.banner .change-text{
    padding-left: 80px;
    padding-top: 0px;
    min-height: 10vh;
    height: 50%;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 1.5em;
    color: #500863;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner .change-text h3{
    display: inline-flex;
    align-items: center;
    margin: 0;
    vertical-align: top;
    font-size: 90px;
}

.banner .change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.banner .change-text h3 .word .letter{
    transform-origin: center center 25px;
}

.banner .change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}

.banner .change-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.banner .change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}

