:root {
    --primary: #0969DA;
    --background: #24292F;
    --gray: #847F90;
    --white: #FCFCFC;
    --navbar-height: 3.75rem;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

header .logo {
    justify-content: left;
    padding: 10px;
}

header .menu_wrapper .logo img {
    width: 70px;
    height: 70px;
    clip-path: circle(50% at 50% 50%);
}

header .menu_wrapper .nome h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: 
        url('stock.jpg')center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    to {
        background-position-x: -200px; 
    }
}

.menu_wrapper {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 2;
    background: var(--background);
   
    padding: 0 1rem;
    align-items: center;
}


/* NOVO BLOCO: Agrupamento da navegação e botões à direita */
.right-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 1.5rem;
    background: var(--background);
    padding-right: 80px;
}

.navigation > li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.navigation > li > button > svg {
    fill: var(--white);
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

.navigation > li > a {
    color: var(--white);
    font-size: 0.875rem;
    transition: all 0.2s ease-in-out;
}

.navigation > li > button {
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: 500;
    gap: 0.25rem;
    opacity: 1;
    align-items: center;
    font-size: 0.875rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 0.185rem 0;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.dropdown {
    position: absolute;
    top: 2.625rem;
    min-width: 15rem;
    border-radius: 0.5rem;
    background: var(--white);
    display: none;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 5px 30px
        rgba (27, 31, 35, 0.1),
        0 0 1px rgba(27, 31, 35, 0.4),
        0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(0.7rem);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.dropdown h3 {
    font-size: 0.9250rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.list-menu-items {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 0.25rem;
}

.list-menu-items > li > a {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    width: 100%;
    color: var(--gray);
}

.list-menu-items > li > a:hover {
    color: var(--primary);
}

.list-menu-items-with-description {
    list-style-type: none;
}

.list-menu-items-with-description li {
    display: flex;
    padding: 0.25rem;
    gap: 1rem;
    width: 100%;
}

.list-menu-items-with-description li:hover {
    color: var(--primary);
}

.list-menu-items-with-description li svg {
    width: 1rem;
    height: 1rem;
    stroke: var(--primary);
}

.item-title h3 {
    font-size: 0.875rem;
    font-weight: 600;
}

.navigation > li:hover .dropdown {
    display: flex;
    opacity: 1;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons a {
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
    color: var(--white);
}

.action-buttons a:hover {
    opacity: .75;
}

.secondary {
    background: none;
    outline: none;
    border: none;
}

.primary {
    border-radius: 0.5rem;
    border: 1px solid var(--white);
}